
DockerIntegration/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
DockerIntegration/obj/Debug/net5.0/apphost.exe
DockerIntegration/obj/Debug/net5.0/DockerIntegration.AssemblyInfo.cs
DockerIntegration/obj/Debug/net5.0/DockerIntegration.AssemblyInfoInputs.cache
DockerIntegration/obj/Debug/net5.0/DockerIntegration.assets.cache
DockerIntegration/obj/Debug/net5.0/DockerIntegration.csproj.CopyComplete
DockerIntegration/obj/Debug/net5.0/DockerIntegration.csproj.CoreCompileInputs.cache
DockerIntegration/obj/Debug/net5.0/DockerIntegration.csproj.FileListAbsolute.txt
DockerIntegration/obj/Debug/net5.0/DockerIntegration.csprojAssemblyReference.cache
DockerIntegration/obj/Debug/net5.0/DockerIntegration.dll
DockerIntegration/obj/Debug/net5.0/DockerIntegration.genruntimeconfig.cache
DockerIntegration/obj/Debug/net5.0/DockerIntegration.MvcApplicationPartsAssemblyInfo.cache
DockerIntegration/obj/Debug/net5.0/DockerIntegration.pdb
DockerIntegration/obj/Debug/net5.0/DockerIntegration.RazorAssemblyInfo.cache
DockerIntegration/obj/Debug/net5.0/DockerIntegration.RazorAssemblyInfo.cs
DockerIntegration/obj/Debug/net5.0/DockerIntegration.RazorCoreGenerate.cache
DockerIntegration/obj/Debug/net5.0/DockerIntegration.RazorTargetAssemblyInfo.cache
DockerIntegration/obj/Debug/net5.0/DockerIntegration.RazorTargetAssemblyInfo.cs
DockerIntegration/obj/Debug/net5.0/DockerIntegration.TagHelpers.input.cache
DockerIntegration/obj/Debug/net5.0/DockerIntegration.TagHelpers.output.cache
DockerIntegration/obj/Debug/net5.0/DockerIntegration.Views.dll
DockerIntegration/obj/Debug/net5.0/DockerIntegration.Views.pdb
DockerIntegration/obj/Debug/net5.0/Razor/Pages/_ViewImports.cshtml.g.cs
DockerIntegration/obj/Debug/net5.0/Razor/Pages/_ViewStart.cshtml.g.cs
DockerIntegration/obj/Debug/net5.0/Razor/Pages/Error.cshtml.g.cs
DockerIntegration/obj/Debug/net5.0/Razor/Pages/Index.cshtml.g.cs
DockerIntegration/obj/Debug/net5.0/Razor/Pages/Privacy.cshtml.g.cs
DockerIntegration/obj/Debug/net5.0/Razor/Pages/Shared/_Layout.cshtml.g.cs
DockerIntegration/obj/Debug/net5.0/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
DockerIntegration/obj/Debug/net5.0/ref/DockerIntegration.dll
DockerIntegration/obj/Debug/net5.0/staticwebassets/DockerIntegration.StaticWebAssets.Manifest.cache
DockerIntegration/obj/Debug/net5.0/staticwebassets/DockerIntegration.StaticWebAssets.xml
DockerIntegration/obj/DockerIntegration.csproj.nuget.dgspec.json
DockerIntegration/obj/DockerIntegration.csproj.nuget.g.props
DockerIntegration/obj/DockerIntegration.csproj.nuget.g.targets
DockerIntegration/obj/project.assets.json
DockerIntegration/obj/project.nuget.cache
DockerIntegration/bin/Debug/net5.0/appsettings.Development.json
DockerIntegration/bin/Debug/net5.0/appsettings.json
DockerIntegration/bin/Debug/net5.0/DockerIntegration.deps.json
DockerIntegration/bin/Debug/net5.0/DockerIntegration.dll
DockerIntegration/bin/Debug/net5.0/DockerIntegration.exe
DockerIntegration/bin/Debug/net5.0/DockerIntegration.pdb
DockerIntegration/bin/Debug/net5.0/DockerIntegration.runtimeconfig.dev.json
DockerIntegration/bin/Debug/net5.0/DockerIntegration.runtimeconfig.json
DockerIntegration/bin/Debug/net5.0/DockerIntegration.Views.dll
DockerIntegration/bin/Debug/net5.0/DockerIntegration.Views.pdb
DockerIntegration/bin/Debug/net5.0/ref/DockerIntegration.dll
