
DockerIntegration/DockerIntegration/bin/Debug/net5.0/appsettings.Development.json
DockerIntegration/DockerIntegration/bin/Debug/net5.0/appsettings.json
DockerIntegration/DockerIntegration/bin/Debug/net5.0/DockerIntegration.deps.json
DockerIntegration/DockerIntegration/bin/Debug/net5.0/DockerIntegration.dll
DockerIntegration/DockerIntegration/bin/Debug/net5.0/DockerIntegration.exe
DockerIntegration/DockerIntegration/bin/Debug/net5.0/DockerIntegration.pdb
DockerIntegration/DockerIntegration/bin/Debug/net5.0/DockerIntegration.runtimeconfig.json
DockerIntegration/DockerIntegration/bin/Debug/net5.0/DockerIntegration.StaticWebAssets.xml
DockerIntegration/DockerIntegration/bin/Debug/net5.0/DockerIntegration.Views.dll
DockerIntegration/DockerIntegration/bin/Debug/net5.0/DockerIntegration.Views.pdb
DockerIntegration/DockerIntegration/bin/Debug/net5.0/ref/DockerIntegration.dll
DockerIntegration/DockerIntegration/obj/Container/AbsoluteOutputAssemblyPath.cache
DockerIntegration/DockerIntegration/obj/Container/AdditionalProbingPaths.cache
DockerIntegration/DockerIntegration/obj/Container/ContainerCreationResult.cache
DockerIntegration/DockerIntegration/obj/Container/ContainerDevelopmentMode.cache
DockerIntegration/DockerIntegration/obj/Container/ContainerId.cache
DockerIntegration/DockerIntegration/obj/Container/ContainerName.cache
DockerIntegration/DockerIntegration/obj/Container/ContainerOperatingSystemFlavor.cache
DockerIntegration/DockerIntegration/obj/Container/ContainerRunContext.cache
DockerIntegration/DockerIntegration/obj/Container/DebuggeeArguments.cache
DockerIntegration/DockerIntegration/obj/Container/DebuggeeKillProcessCommand.cache
DockerIntegration/DockerIntegration/obj/Container/DebuggeeProgram.cache
DockerIntegration/DockerIntegration/obj/Container/DebuggeeWorkingDirectory.cache
DockerIntegration/DockerIntegration/obj/Container/FastModeProjectMountDirectory.cache
DockerIntegration/DockerIntegration/obj/Container/ImageBuildContext.cache
DockerIntegration/DockerIntegration/obj/Container/ImageId.cache
DockerIntegration/DockerIntegration/obj/Container/OperatingSystemName.cache
DockerIntegration/DockerIntegration/obj/Container/TargetFramework.cache
DockerIntegration/DockerIntegration/obj/Container/VsDbgScript.cache
DockerIntegration/DockerIntegration/obj/Debug/net5.0/DockerIntegration.Views.dll
DockerIntegration/DockerIntegration/obj/Debug/net5.0/DockerIntegration.Views.pdb
DockerIntegration/DockerIntegration/obj/Debug/net5.0/Razor/Pages/_ViewImports.cshtml.g.cs
DockerIntegration/DockerIntegration/obj/Debug/net5.0/Razor/Pages/_ViewStart.cshtml.g.cs
DockerIntegration/DockerIntegration/obj/Debug/net5.0/Razor/Pages/Error.cshtml.g.cs
DockerIntegration/DockerIntegration/obj/Debug/net5.0/Razor/Pages/Index.cshtml.g.cs
DockerIntegration/DockerIntegration/obj/Debug/net5.0/Razor/Pages/Privacy.cshtml.g.cs
DockerIntegration/DockerIntegration/obj/Debug/net5.0/Razor/Pages/Shared/_Layout.cshtml.g.cs
DockerIntegration/DockerIntegration/obj/Debug/net5.0/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
DockerIntegration/DockerIntegration/obj/Debug/net5.0/ref/DockerIntegration.dll
DockerIntegration/DockerIntegration/obj/project.assets.json
DockerIntegration/DockerIntegration/obj/project.nuget.cache
DockerIntegration/DockerIntegration/obj/DockerIntegration.csproj.nuget.g.props
DockerIntegration/DockerIntegration/obj/Debug/net5.0/staticwebassets/DockerIntegration.StaticWebAssets.xml
DockerIntegration/DockerIntegration/obj/DockerIntegration.csproj.nuget.g.targets
DockerIntegration/DockerIntegration/obj/DockerIntegration.csproj.nuget.dgspec.json
DockerIntegration/DockerIntegration/obj/Debug/net5.0/DockerIntegration.csproj.CoreCompileInputs.cache
DockerIntegration/DockerIntegration/obj/Debug/net5.0/DockerIntegration.csproj.FileListAbsolute.txt
DockerIntegration/DockerIntegration/obj/Debug/net5.0/DockerIntegration.csprojAssemblyReference.cache
DockerIntegration/DockerIntegration/obj/Debug/net5.0/DockerIntegration.dll
DockerIntegration/DockerIntegration/obj/Debug/net5.0/DockerIntegration.GeneratedMSBuildEditorConfig.editorconfig
DockerIntegration/DockerIntegration/obj/Debug/net5.0/DockerIntegration.genruntimeconfig.cache
DockerIntegration/DockerIntegration/obj/Debug/net5.0/DockerIntegration.MvcApplicationPartsAssemblyInfo.cache
DockerIntegration/DockerIntegration/obj/Debug/net5.0/DockerIntegration.pdb
DockerIntegration/DockerIntegration/obj/Debug/net5.0/DockerIntegration.RazorAssemblyInfo.cache
DockerIntegration/DockerIntegration/obj/Debug/net5.0/DockerIntegration.RazorAssemblyInfo.cs
DockerIntegration/DockerIntegration/obj/Debug/net5.0/DockerIntegration.RazorCoreGenerate.cache
DockerIntegration/DockerIntegration/obj/Debug/net5.0/DockerIntegration.RazorTargetAssemblyInfo.cache
DockerIntegration/DockerIntegration/obj/Debug/net5.0/DockerIntegration.RazorTargetAssemblyInfo.cs
DockerIntegration/DockerIntegration/obj/Debug/net5.0/DockerIntegration.TagHelpers.input.cache
DockerIntegration/DockerIntegration/obj/Debug/net5.0/DockerIntegration.TagHelpers.output.cache
DockerIntegration/DockerIntegration/obj/Debug/net5.0/DockerIntegration.csproj.CopyComplete
DockerIntegration/DockerIntegration/obj/Debug/net5.0/DockerIntegration.assets.cache
DockerIntegration/DockerIntegration/obj/Debug/net5.0/DockerIntegration.AssemblyInfoInputs.cache
DockerIntegration/DockerIntegration/obj/Debug/net5.0/DockerIntegration.AssemblyInfo.cs
DockerIntegration/DockerIntegration/obj/Debug/net5.0/apphost.exe
DockerIntegration/DockerIntegration/bin/Debug/net5.0/DockerIntegration.runtimeconfig.dev.json
